body{
	background-image:url("../img/DiaryBackground.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

h1 {
  position: relative;
  color: #006400;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
h1:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #73e673;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2{
	color:#006400;
}

.text{
	text-align:center;
}

#hiduke{
	width:auto;
	height:100px;
	text-align:center;
	text-decoration: underline;
}

/*#article{
	text-align:reft;
}*/



table{
	float:right;
}